Repository voxpupuli/puppet-smokeping, pull requests merged in 2018-09, with the labels that each got.

#98 modulesync 2.0.0
  .msync.yml
  .overcommit.yml
  Gemfile
Labels: modulesync

#99 Fix smokeping::target type
  manifests/target.pp
  templates/target.erb
Labels: backwards-incompatible

#100 Update module dependencies
  metadata.json
Labels: enhancement
