Repository voxpupuli/puppet-smokeping, pull requests merged in 2022-03, with the labels that each got.

#147 Add RHEL/CentOS 8 and remove EOL Puppet 5
  metadata.json
Labels: backwards-incompatible

#151 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  .sync.yml
  Dockerfile
  Gemfile
  Rakefile
  spec/classes/init_spec.rb
  spec/spec_helper.rb
Labels: modulesync

#152 Release 6.0.0
  CHANGELOG.md
  REFERENCE.md
  manifests/slave.pp
  metadata.json
Labels: skip-changelog
