Repository voxpupuli/puppet-smokeping, pull requests merged in 2023-09, with the labels that each got.

#153 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  REFERENCE.md
  Rakefile
  manifests/init.pp
  spec/spec_helper.rb
Labels: modulesync

#142 Configure slaves with systemd
  .fixtures.yml
  README.md
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  manifests/install.pp
  manifests/slave.pp
  metadata.json
  spec/classes/init_spec.rb
  templates/defaults.erb
  templates/slave.epp
  templates/slave.erb
  templates/slaves.erb
Labels: backwards-incompatible

#157 Add Puppet 8 support
  metadata.json
Labels: enhancement

#156 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#146 Add option to manage imgcache directory
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  spec/classes/init_spec.rb
Labels: enhancement

#159 Add option for management of datadir
  REFERENCE.md
  manifests/init.pp
  manifests/install.pp
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#160 Drop EoL Ubuntu 18.04
  metadata.json
Labels: backwards-incompatible

#161 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#158 metadata.json: require at least stdlib 7.0.0
  metadata.json
Labels: backwards-incompatible

#162 Release 7.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
