Repository voxpupuli/puppet-smokeping, pull requests merged in 2025-08, with the labels that each got.

#186 Drop puppet, update openvox minimum version to 8.19
  metadata.json
Labels: backwards-incompatible

#188 Add support for Debian 12
  metadata.json
Labels: enhancement

#191 Add support for Ubuntu 24.04
  metadata.json
Labels: enhancement

#192 Drop support for EOL EL 7, CentOS 8; add support for EL 9, 10
  metadata.json
Labels: enhancement, backwards-incompatible
